.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
.icon-lg {
    font-size: 10rem !important;
}

.page#setup .card-body {
    display: none;
}

.displayMode .btn {
    display: none;
}
.displayMode .page {
    font-size: calc(var(--bs-body-font-size) * 2);
    scrollbar-width: none;
}
